body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    background-color: #f7e4b5;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    font-family: Constantia, serif;
    color: rgb(127, 36, 56);
    text-align: center;
}

.navigation{
    background-color: black;
  
}

.service{
    background-color: rgb(127, 36, 56);
    font-size: 30px;
    text-align: center;
}

#menu {
    font-size: 30px;
    font-weight: bold;
    color: #c75a5a;
    text-align: left;
    background-color: black;
}

#home {
    font-size: 30px;
    font-weight: bold;
    color: #c75a5a;
    text-align: left;
}

a {
    font-size: 25px;
    color: rgb(255, 77, 0) !important; 
    text-decoration: none;
    font-weight: bold;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

caption {
    font-size: 20px;
    font-weight: bold;
    color: rgb(127, 36, 56);
    text-align: center;
}


th, td {
    border: 2px solid #555;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #ffcc00bb;
    font-weight: bold;
    color: #333;
}

td {
    background-color: #bf9661d1;
}

ul {
    list-style-type: square;
    padding: 10px;
    border-bottom: 4px solid darkred;
}

ol {
    list-style-type: upper-roman;
    padding: 10px;
    border-bottom: 4px solid darkred;
}

dl {
    background-color: #be986d;
    padding: 10px;
    border-left: 4px solid darkred;
    font-style: italic;
}

dl dt {
    font-weight: bold;
    color: darkred;
}

dl dd {
    margin-left: 20px;
    color: #000000;
}